name: Build and Push Docker Images

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      OWNER: ${{ github.repository_owner }}
      BACKEND_IMAGE: org-calendar-backend
      FRONTEND_IMAGE: org-calendar-frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sanitize repo owner
        uses: actions/github-script@v6
        id: owner_name
        with:
          result-encoding: string
          script: return '${{ env.OWNER }}'.toLowerCase()

      - name: Log in to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.owner_name.outputs.result }}/${{ env.BACKEND_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ steps.owner_name.outputs.result }}/${{ env.BACKEND_IMAGE }}:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.run_id }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.owner_name.outputs.result }}/${{ env.FRONTEND_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ steps.owner_name.outputs.result }}/${{ env.FRONTEND_IMAGE }}:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.run_id }}
